<div class="instructions ">
    <div class="container">
        <h1 id="lead">Welcome To</h1>
        <p id="spaceCards">Space Cards</p>
        <p>A flash card app</p>
        <p class="intro_two">Do you want to learn more about our galaxy, space exploration, stars or other planets? Enter your topic into the search box and be amazed!</p>


<!--
        <div class="form-inline">
          <label for="message">Message: </label>
          <input type="text" ng-model="uc.messages.newMessage.name" id="name" placeholder="Enter text" />
        </div> -->

          <!-- <label for="location">Description: </label>
          <input type="text" ng-model="uc.messages.newMessage.description" id="description" placeholder="description" />
          <label for="location">Location: </label>
          <input type="text" ng-model="uc.messages.newMessage.location" id="location" placeholder="Location" /> -->

          <!-- <button class="btn btn-primary" ng-click="uc.searchResults()">Search</button> -->
    </div>
</div>
<form>

</form>
