<div ng-include="'views/partials/nav.html'"></div>

<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <div class="col-md-6">
      <!-- <img ng-repeat="pic in uc.planets.mars.photos | limitTo: 2" ng-src="pic.img_src"> -->
        <!-- {{uc.planets.mars.photos}} -->
    <form>
        <label for="message">Message: </label>
        <input type="text" ng-model="uc.messages.newMessage.name" id="name" placeholder="Enter text" />
        <!-- <label for="location">Description: </label>
        <input type="text" ng-model="uc.messages.newMessage.description" id="description" placeholder="description" />
        <label for="location">Location: </label>
        <input type="text" ng-model="uc.messages.newMessage.location" id="location" placeholder="Location" /> -->

        <button class="btn btn-primary" ng-click="uc.searchResults()">Search</button>
    </form>
  </div> <!--col-md-8-->
  <div class="row">
    <div class="col-md-12">
        <div class="well col-md-3">
          <ul>
              <li ng-repeat="messages in uc.messages.list">
                {{ messages.name }} | {{ messages.description}}
                <!-- | {{ messages.location }} -->
              </li>
          </ul>
        </div><!--col-md-3-->
    </div><!--col-md-12-->
  </div><!--/row--->
</div><!--container-->

<!-- {{ uc }} -->
<div class="container">
  <div class="box">
   <div class="row">
        <div ng-repeat="pic in uc.spaceImages.list" class="card col-md-4" style="width: 30rem;">
          <p>{{pic.message}}</p>
            <div class="card-block">
             <!-- {{ pic }} -->
            <img ng-src="{{pic.links[0].href}}"/>
            <h4 class="card-title"></h4>
            <!-- <p class="card-text">Some quick example</p> -->
            <button ng-click="uc.updateMessage(messasge)">Update</button>
            <button ng-click="uc.deleteMessage(message._id)">Delete</button>
            <a href="#" class="btn btn-primary">Flip</a>
          </div> <!--/ng-repeat-->
        </div><!--row-->
 </div><!--box-->
</div><!--card-block-->

</div><!--container-->

<!-- <div class="container">


</div> -->
