<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>


    <div class="col-md-8">
        <!-- {{uc}} -->
    <form>
        <label for="message">Message: </label>
        <input type="text" ng-model="uc.messages.newMessage.name" id="name" placeholder="Name" />
        <label for="location">Description: </label>
        <input type="text" ng-model="uc.messages.newMessage.description" id="description" placeholder="description" />
        <label for="location">Location: </label>
        <input type="text" ng-model="uc.messages.newMessage.location" id="location" placeholder="Location" />

        <button class="btn btn-primary" ng-click="uc.addMessage()">Add Message</button>
    </form>
    </div> <!--col-md-12-->
<div class="">
  <ul>
      <li ng-repeat="messages in uc.messages.list">
      {{ messages.name }} | {{ messages.description}} | {{ meassages.location }}</li>
  </ul>

  <div class="col-lg-6">
     
  </div> <!--/col-lg-6--->

</div>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div><!--container-->
